@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root{
  --primary:rgb(37,218,197);
  --secondary:rgb(72,43,231);
  --third:rgb(233,58,125);
}

body{
  background-color: var(--secondary);
  height:100vh;
  width: 100%;
  font-family: 'DM Sans', sans-serif;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.inner-container{
  width: 972px;
  /* height:890px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:90px;
}

.header__nav{
  width:972px;
  height:40px;
  display: flex;
flex-wrap: wrap;
color:#fff;
}

.header__nav_logo{
  font-size:24px;
  font-weight:700;
  line-height: normal;
  letter-spacing: -0.293px;
  flex:1;
}

.header__nav ul{
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  display: flex;
  gap:33px;
  align-items: center;
  flex-wrap: wrap;
}

.active{
color: rgba(255,255,255,0.3);

  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
}

.header__nav .header__nav_button{
  width:120px;
  height:40px;
  border-radius: 50px;
  border:none;
  outline:none;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  color:#fff;
  background-color: var(--third);
}

/* hero */
.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
}

.hero__left{
  flex:1;
}

.hero__left h2{
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
  color:#fff;
}

.hero__left p{
font-family: DM Sans;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 32px;
color:#fff;
margin:40px 0;
width: 330px;
}

.hero__left_button{
  width:157px;
  height:50px;
  flex-shrink: 0;

  color: #fff;
text-align: center;

font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 26px;
border:0;
outline: 0;
border-radius: 50px;
background-color: var(--third);
}


/* right hero section */
.hero__right{
  flex:1;
}

.hero__right_formBox{
  background-color: #fff;
  height:600px;
  width:470px;
  padding:60px;
  border-radius: 10px;
}

.hero__right_formBox h3{
  color: #1E0E62;
text-align: center;

font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 52px; 
letter-spacing: -0.4px;
}

.input_container input{
  width: 100%;
  padding:10px 10px 10px 20px;
  margin-top:25px;
  border:2px solid rgba(0,0,0,0.3);
  border-radius: 50px;

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  color: rgba(21, 20, 57, 0.40);
}

.checkbox_container{
  display: flex;
  gap:10px;
  margin:30px 0;
}

.checkbox_container label{
  color: rgba(21, 20, 57, 0.40);


font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}

.checkbox_container #chkbox{
  width:24px;
  height:24px;
  border-radius: 60px;
  accent-color: var(--primary);
}
input[type="checkbox"] {
  border-radius: 50px;
}

.hero__right__formBox_signin{
  width:100%;
  padding:10px;
  border:none;
  outline:none;
  border-radius: 50px;


  color:  #FFF;
text-align: center;

font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
background-color: var(--secondary);
}


.or{
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #EBEAED;
  line-height: 0.1em;
  margin:30px 0;
}

.or span{
  background-color: #fff;
  padding:0 10px;
}

.hero__right__formBox_twitter{
  width:100%;
  padding:10px;
  border:none;
  outline:none;
  border-radius: 50px;


  color:  #FFF;
text-align: center;

font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
background-color: #1DA1F2;
}

.ending_link{
  margin:30px 0;

  color: rgba(21, 20, 57, 0.40);
text-align: center;

font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px;
}

.ending_link a{
  text-decoration: none;
  color:var(--primary)
}



